<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
<div class="user-detail">
    <h2>Insert data for Covid19 :</h2>
    <form action="/users/create" method="POST">
          <label>State Name</label>
          <input type="text" name="State_Name" required><br>
          <label>Date</label>
          <input type="text" name="Date_of_Record" required>
          <label>Samples</label>
          <input type="text" name="No_of_Samples" required>
          <label>Deaths</label>
          <input type="text" name="No_of_Deaths" required>
          <label>Positives</label>
          <input type="text" name="No_of_Positive" required>
          <label>Negatives</label>
          <input type="text" name="No_of_Negative" required>
          <label>Discharge</label>
          <input type="text" name="No_of_Discharge" required>
          <button type="submit">Submit</button>
        </div>
</div>
<!--====form section start====-->
</body>
</html>